.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 50px;
}

.pagination-container {
    display: flex;
    justify-content: center;
}

.pagination {
    text-align: center;
    margin-bottom: 100px;
}

.pagination .selected {
    background-color: orange;
}

.pagination button {
    margin-right: 5px;
}